body {
    color: white;
    width: 1440px;
    height: 1345px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-left: 120px;
    padding-right: 118px;
}

.text-section {
    max-width: 500px;
    padding-top: 92px;
    align-items: flex-start;
}

.text-section__header {
    font-family: PlayfairDisplay;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #363031;
}

.text-section__paragraph {
    font-family: PlayfairDisplay;
    font-weight: 400;
    font-size: 24px;
    color: #363031;

    margin-top: 32px;
    margin-right: 104px;
}

.text-section__button {
    font-family: Poppins;
    font-weight: 400;
    font-size: 23px;
    line-height: 18px;
    letter-spacing: 1px;
    color: white;

    margin-top: 32px;
    padding: 24px 48px;
    background-color: #A36A4F;
    border-radius: 36px;
}

.image-section {
    position: relative;
    width: 600px;
    height: 600px;

    display: flex;
    flex-direction: column;
}

.image-section__large-coffee-image {
    align-self: flex-start;
}

.image-section__small-coffee-image {
    position: absolute;
    bottom: 0;
    right: 0;
}

.statistics-list  {
    position: absolute;
    left: 281px;
    margin-inline: auto;
    width: fit-content;
    padding: 24px 96px 24px 96px;
    margin-top: 50px;
    border-radius: 80px;
    gap: 88px;

    display: flex;
    justify-content: space-around;
    background-color: #ECDAC4;
}

.statistics-list-item {
    width: 170px;
    display: flex;
    flex-direction: column;
}

.statistics-list-item__coffee-icon {
    width: 36px;
    height: 36px;
    align-self: center;
}


.statistics-list-item__number {
    font-family: Poppins;
    font-weight: 600;
    font-size: 31px;
    text-align: center;
    color: #363031;

    margin-top: 5px;
}

.statistics-list-item__number-description {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: #363031;
    text-align: center;

    margin-top: 6px;
}

.coffee-list {
    margin-top: 154px;
    padding: 138px 63px 50px 63px;
    display: flex;
    gap: 96px;

    background-color: #363032;
}

.coffee-list-item {
    text-align: center;
}

.coffee-list-item__image-description {
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;

    margin-top: 18px;
    color: white;
}
